{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 2015,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["cumul8"],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": [
      0,
      {
        "props": false
      }
    ],
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "operator-linebreak": ["error", "after"],
    "linebreak-style": ["off"],
    "semi": ["error", "never"],
    "no-new": [0],
    "max-len": [
      1,
      {
        "code": 120,
        "ignoreComments": true
      }
    ],
    "class-methods-use-this": [0],
    "no-underscore-dangle": [0],
    "react/prefer-stateless-function": [
      2,
      {
        "ignorePureComponents": false
      }
    ],
    "react/no-danger": [0],
    "cumul8/alphabetical-destructuring": [1],
    "object-curly-newline": ["off"]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"],
          ["~components", "./src/components"],
          ["~globals", "./src/globals"],
          ["~styles", "./src/styles"],
          ["~slices", "./src/slices"],
          ["~fonts", "./src/fonts"],
          ["~images", "./src/images"],
          ["~hooks", "./src/hooks"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json", ".css", ".svg", ".jpg", ".png", ".woff"]
      }
    }
  }
}
