/* Generic component styles */

.btn {
  border: 0px solid transparent;
  border-radius: 50px;
  filter: brightness(1);
  font-size: 14px;
  padding: 11px;
  margin: 2px;
  transition: all 0.25s;
}

.btn:hover {
  filter: brightness(0.75);
}

.btn:focus {
  border: 2px solid black;
  margin: 0px;
  outline: none;
}