.footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  opacity: 0.8;
  height: 70px;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

.links {
  flex-grow: 1;
}

.icon {
  padding-left: 10px;
}
