.section-one {
    padding: 32px;
    overflow: 'hidden';
    width: '100%';
    padding-top: 100px;
    padding-bottom: 200px;
}

.pad-center {
    padding: 16;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}